@page
@model National_Healthcare_System.Pages.Doctors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Identity_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Identity_Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Registration_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Registration_Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Institution_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Institution_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Doctor_Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Doctor_Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Specialist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Specialist)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Consultation_Times)
        </dt>*@
        @*<dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Consultation_Times)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Consultation_Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Consultation_Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Consultation_Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Consultation_Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Organization_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Organization_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Descriptions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Descriptions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Verified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Verified)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Doctor.Doctor_Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
