@page
@model National_Healthcare_System.Pages.Consultations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Doctor_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Doctor_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Consultation_DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Consultation_DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Consultation.Consultation_Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
