@page
@model National_Healthcare_System.Pages.Check_up.AddCheckUpModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container">
            <h2>Add Check-Up data</h2>
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#consultation">Consultation</a></li>
                <li><a data-toggle="pill" href="#prescription">Prescription</a></li>
                <li><a data-toggle="pill" href="#medication">Medication</a></li>
            </ul>

            <div class="tab-content">
                <div id="consultation" class="tab-pane fade in active">
                    <h3>Consultation</h3>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">                              
                                <label asp-for="Consultation.Doctor_Id" class="control-label">Doctor ID</label>
                                <input asp-for="Consultation.Doctor_Id" value="@Model.currentDoctor.Doctor_Id" class="form-control" />
                                <span asp-validation-for="Consultation.Doctor_Id" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Consultation.Identity_Number" class="control-label">Patients NID/Birth Certificate No.</label>
                                <input asp-for="Consultation.Identity_Number" class="form-control" />
                                <span asp-validation-for="Consultation.Identity_Number" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Consultation.Consultation_Id" class="control-label">Consultation ID</label>
                                <input asp-for="Consultation.Consultation_Id" value="@Model.conID" readonly class="form-control" />
                                <span asp-validation-for="Consultation.Consultation_Id" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Consultation.Consultation_DateTime" class="control-label">Date and Time</label>
                                <input asp-for="Consultation.Consultation_DateTime" class="form-control" />
                                <span asp-validation-for="Consultation.Consultation_DateTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="form-group">
                                <label asp-for="Consultation.Comment" class="control-label">Problems Described by Patient</label>
                                <textarea asp-for="Consultation.Comment" class="form-control form-control-lg"></textarea>
                                <span asp-validation-for="Consultation.Comment" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="prescription" class="tab-pane fade">
                    <h3>Prescription</h3>
                    <div class="row">
                        <div class="col-4">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Consultation.Consultation_Id" class="control-label">Consultation_Id</label>
                                    <input asp-for="Consultation.Consultation_Id" value="@Model.conID" readonly class="form-control" />
                                    <span asp-validation-for="Consultation.Consultation_Id" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Prescription.Prescription_Id" class="control-label">Prescription ID</label>
                                <input asp-for="Prescription.Prescription_Id" value="@Model.preID" class="form-control" />
                                <span asp-validation-for="Prescription.Prescription_Id" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Prescription.Comments" class="control-label">Problems Identified</label>
                                <textarea type="text" asp-for="Prescription.Comments" class="form-control" height="100" width="200"></textarea>
                                <span asp-validation-for="Prescription.Comments" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="medication" class="tab-pane fade">
                    <h3>Medication</h3>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Prescription.Prescription_Id" class="control-label">Prescription Id</label>
                                <input asp-for="Prescription.Prescription_Id" value="@Model.preID" readonly class="form-control" />
                                <span asp-validation-for="Prescription.Prescription_Id" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <label asp-for="Medication.Medication_Id" class="control-label">Medication ID</label>
                            <input asp-for="Medication.Medication_Id" value="@Model.medID" readonly class="form-control" />
                            <span asp-validation-for="Medication.Medication_Id" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="Medication.DateOfMedication" class="control-label">Date and Time</label>
                            <input asp-for="Medication.DateOfMedication" class="form-control" />
                            <span asp-validation-for="Medication.DateOfMedication" class="text-danger"></span>
                        </div>
                        <div class="col-8">
                            <label asp-for="Medication.Medications" class="control-label">Medications</label>
                            <textarea asp-for="Medication.Medications" class="form-control"></textarea>
                            <span asp-validation-for="Medication.Medications" class="text-danger"></span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="form-group p-4">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}